<!DOCTYPE html>
<html>
<head>
    <title>Library Dashboard</title>
</head>
<body>

<h2>Library System</h2>

<h3>Add Book</h3>
<form method="POST" action="/add">
    <input name="title" placeholder="Title"><br>
    <input name="author" placeholder="Author"><br>
    <input name="subject" placeholder="Subject"><br>
    <input name="available" placeholder="Copies"><br>
    <button>Add</button>
</form>

<h3>Upload CSV</h3>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file">
    <button>Upload</button>
</form>

<h3>Books</h3>
<table border="1">
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Subject</th>
    <th>Available</th>
    <th>Action</th>
</tr>

{% for b in books %}
<tr>
    <td>{{b.title}}</td>
    <td>{{b.author}}</td>
    <td>{{b.subject}}</td>
    <td>{{b.available}}</td>
    <td>
        <a href="/borrow/{{b.id}}">Borrow</a> |
        <a href="/return/{{b.id}}">Return</a>
    </td>
</tr>
{% endfor %}

</table>

</body>
</html>
